@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=DM+Sans:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "DM Sans", system-ui, sans-serif;
  --font-serif: "DM Serif Display", Georgia, serif;
  --font-inter: "Inter", system-ui, sans-serif;
  --color-brand: #da291c;
  --color-brand-dark: #b91c1c;
  --color-brand-light: #fef2f2;
}

@keyframes floatChip {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0);
  }
}
